@model DoAnNhom1.Models.Region

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4 class="text-danger">@ViewBag.nofi</h4>

@using (Html.BeginForm("Edit", "Region", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @Html.HiddenFor(model => model.IDRe)

                <div class="form-group">
                    @Html.LabelFor(model => model.NameRe, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NameRe, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImgRe, htmlAttributes: new { @class = "control-label" })
                    <img src="@Url.Content(Session["imgPath"].ToString())" class="img-fluid" id="previewImg" />
                    <input type="file" name="UploadImage" class="form-control-file" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/script.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
